/* Variables de color */
:root {
    --color-text: #333;
    --color-background: #fff; /*Color general de la página* /*Color general de la página*/
    --color-link: #0693e3;
    --color-header: #fff;
    --color-navbar-bg: #010326;
    --color-navbar-text: #fff;
    --color-button-bg: #0693e3;
    --color-button-text: #fff;
    --color-form-input-bg: #f4f4f4;
    --color-form-input-text: #333;
    --color-table-border: #ddd;
    --color-table-header-bg: #04041c;

    --color-list-item-bg: #02314F; /*Color de los subcontenedores dentro del formulario*/

    --color-image-border: #ddd;
    --color-linea-superior: #33b0ea; /* Color de los elementos hr*/
  
}




/* Reset de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Ajustes generales */
body {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-background);

}

/* Enlaces */
a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: var(--color-header);
    margin-bottom: 10px;
}


/* Contenedor principal */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Barra de navegación */
.navbar {
    background-color: var(--color-navbar-bg);
    padding: 30px;
    color: var(--color-navbar-text);
}

/* Botones */
.button {
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0579c1;
}

/* Formularios */
.form-input {
    background-color: var(--color-form-input-bg);
    color: var(--color-form-input-text);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Listas */
ul, ol {
    margin-bottom: 20px;
}

li.li_formulario{
    background-color: var(--color-list-item-bg);
    padding: 10px;
    margin-bottom: 5px;
}

li {
   background-color: #010326;
   padding: 10px;
   margin-bottom: 5px;
}


/* Imágenes */
 img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
   /* position: relative; cambiar la posicion relativa de la imagen respecto al contenedor 
    left: 20px; 
    top: 18px; */
} 

.img-grid{
  max-width: 100%;
    height: auto;
  /*  border: 1px solid var(--color-image-border);*/
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;/* cambiar la posicion relativa de la imagen respecto al contenedor */
    left: 20px;
    top: 18px;


}

/* Otros estilos específicos según tus necesidades */

hr { /* Ajustar el estilo de lineas horizontales hr */
width:100%;
height: 6px;
background-color: var(--color-linea-superior);
margin-right: auto;
margin-left: auto;
margin-top: 0px;
margin-bottom: 0px;
border-width: 0px;
border-color: var(--color-linea-superior);
border-bottom: 100px solid #ff00;


}

#form-container {  /* contenedor del formulario*/
max-width: 600px;
margin: 50px auto;
background-color: #02314F; /* Color contenedor principal formulario*/
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
								       }

h2 { /* Color titulo en contenedor de formulario*/
	            color: #fff;
   }

h3 { /* Color titulo en contenedor de formulario*/
                    color: #000;
}


label {
	display: block;
	margin-bottom:8px;
	color: #fff; /*Color texto labels formulario*/
}

input {
width: 100%;
padding: 8px;
margin-bottom: 16px;
box-sizing: border-box;
border: 1px solid #cccccc;
border-radius: 4px;
}

input[type="submit"] {
background-color: #007BFF;
color: #ffffff;
cursor: pointer;
}

input[type="submit"]:hover {
	            background-color: #0056b3;
}

.boton_error {
  padding: 10px 20px;
  background-color: #33b0ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;i
  margin-right: 40px;
}

.boton_error:hover {
  background-color: #33b0ea;
}

.boton_error:active {
  background-color: #33b0ea;
}

.boton_error{
        position:relative;
        bottom : 5px;
        
}

.boton_pdf {
  padding: 10px 20px;
  background-color: #ea2900;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;i
  margin-right: 40px;
}

.boton_pdf:hover {
  background-color: #ea2900;
}

.boton_pdf:active {
  background-color: #ea2900;
}

.boton_pdf{
        position:relative;
        bottom : 5px;
}


.boton_csv {
  padding: 10px 20px;
  background-color: #197342;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;i
  margin-right: 40px;
}

.boton_csv:hover {
  background-color: #197342;
}

.boton_csv:active {
  background-color: #197342;
}


.boton_csv{
        position:relative;
        bottom : 5px;
}

nav {  /*Diseño del m barra horizontal del menú de la página index.php*/

            background-color: #04041c;
            text-align: center;
            padding: 10px;
        }

nav a {    /*Diseño del texto que conforma el menú de la página index.php*/
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            margin: 0 10px;
            display: inline-block;
}


/* Diseño aplicado a las tablas resultado de las consultas, falta revisar porque no se ve reflejado

table {  
  border-collapse: collapse;
  width: 50%;
}

th, td {
  text-align: left;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

th {
            background-color: #04041c;
            color: white;   
    }

*/

/* Diseño del checkbox para vista_usuario.php */
 .mycheck {
      border: 3px solid red;
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e"); 
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      width: 35px;
      height: 35px;
      appearance: none;
      display: inline-block;
      vertical-align: middle;
      background-origin: border-box;
      padding: 0;
      user-select: none;
      flex-shrink: 0;
      color: #2563eb;
      background-color: #888;
      border-color: #6b7280;
      border-width: 1px;
    }
.mycheck {
      cursor: pointer;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
      width: 35px;
      height: 35px;
      appearance: none;
      border: 2px solid #888;
      transition: background-color 0.3s ease-in-out;
    }

    .mycheck:checked {
      background-color: var(--color-linea-superior);
    }

    .mycheck:focus {
      border-color: var(--color-navbar-bg);
    }

    .mycheck:disabled {
      background-color: var(--color-navbar-bg);
      background-image: none;
    }

    .mycheck:disabled:checked {
      background-color: rgb(198, 198, 198);
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }

/* Para los menus desplegables en index*/
    .dropbtn {
  background-color: var(--color-linea-superior);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-right: 70px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--color-linea-superior);}

.container {
            max-width: 900px;
            margin: auto;
        }
        .table-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .table-title h2 {
            margin: 0;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0;
            margin: 0;
            display: inline-block;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none;
            border: none;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            background: none;
            border: none;
            color: #007bff;
        }
        .btn-group {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        .btn-group button {
            margin: 0 5px;
        }


#mesesSinActividadBody.mesesSinActividadBody {
    padding: 20px;
}

#tituloMesesSinActividad.tituloMesesSinActividad {
    color: #333;
    font-size: 24px;
}

#listaMesesSinActividad.listaMesesSinActividad {
    list-style-type: none;
    padding: 0;
}

.elementoMesSinActividad {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#sinActividad.sinActividad {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #999;
    font-style: italic;
}
